h3 {
    margin-left: 20%;
}

.codeLink {
    margin-left: 30%;
}

#musicMadness {
    margin-left: 0%;
}

img {
    margin: 25px;
}

.pictures {
    margin: auto;
}

.img-fluid {
    height: 250px;
    width: 250px;
}